/* Don't use html tags as names for selectors */
/* Add nested selectors for global classes of CSS Framework */

/* entry.css combines styles which are shared between 'register' and 'signin' components */
/* if you wish to add unique styles to one of those, update css files named after the component names */
.form_wrapper {
  background: -webkit-linear-gradient(
    to right,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Nunito", sans-serif;
  height: 100vh;
}

.container.signin__register {
  background-color: #59d89b;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14);
  border-radius: 16px;
}

/* style for the row which wraps the subrows */
.container.signin__register > .row {
  padding: 2rem;
}
/* styles for the subrows */
.container.signin__register .row {
  margin-bottom: 0;
}

.decImage {
  display: block;
  margin: 3.5rem auto;
  width: 300px;
}

.container.signin__register .center-align {
  color: white;
}

.resetPassword {
  text-align: right;
  font-size: 0.9rem;
  cursor: pointer;
  color: #888282;
}

.container.signin__register .btn {
  background-color: #465455;
  padding: 0 4rem;
  border-radius: 5px;
}

.container.signin__register .material-icons {
  color: #eaeaea;
}

.alternative {
  color: #695d5d;
  cursor: pointer;
  display: block;
  margin-top: 0.5rem;
}

.container.signin__register .active {
  color: black;
}

.container.signin__register .input-field .prefix.active {
  color: #695d5d;
}

.container.signin__register
  input[type="text"]:not(.browser-default):focus:not([readonly])
  + label,
.container.signin__register
  input[type="password"]:not(.browser-default):focus:not([readonly])
  + label {
  color: #eaeaea;
}

@media only screen and (max-width: 600px) {
  .decImage {
    width: 250px;
  }
}
