.padding__top {
  padding-top: 3rem;
}

.tabs {
  border-bottom: 1px dashed grey;
  /* padding: 1rem; */
}

.tabs .tab a {
  color: #000;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color: #59d89b;
  color: #000;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color: #59d89b;
  color: #000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: #59d89b;
} /*Color of underline*/

.tabs .tab a:focus.active {
  background-color: rgba(89, 216, 155, 0.2);
}
