.navigation {
  background-color: #58b69a;
}

.navigation .brand-logo {
  height: 100%;
}

.navigation .brand-logo > img {
  display: inline-block;
  vertical-align: middle;
}

.navigation ul a,
.sidenav li > a {
  font-size: 1.2rem;
}
