.record__table tbody {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}

.record__table thead,
.record__table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.author__filtering,
.book__filtering {
  padding: 0.2rem;
}

.author__filtering .row,
.book__filtering .row {
  margin-bottom: 0;
}

.alpha__sortion {
  cursor: pointer;
}

.date {
  justify-self: flex-end;
}

.field__names th {
  padding: 0;
}

/* .editing__wrapper {
  padding: 0.5rem;
} */

.editing__sell {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editing__sell a.save {
  margin-right: 0.5rem;
}

.editing__sell p.date {
  display: inline;
  margin: auto auto;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
  .record__table th,
  td {
    font-size: 1rem;
  }

  .record__table td {
    padding: 15px 0;
  }

  .author__filtering,
  .book__filtering {
    padding: 0.2rem;
  }
  .author__filtering .row,
  .book__filtering .row,
  .book__filtering .input-field,
  .author__filtering .input-field {
    margin-bottom: 0;
    margin-top: 0;
  }
}
